[Desktop Entry]
Type=Application
Name=brumm
GenericName=Music Player
Comment=Apple Music in your terminal or a window
StartupWMClass=brumm
Exec=brumm open
Icon=multimedia-audio-player
Categories=AudioVideo;Audio;Player;
Keywords=apple;music;player;
Terminal=false
